<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracie Abrams</title>
    <link rel="stylesheet" href="../static/home/style.css">
</head>
<body>
    <header>
        <section>
            <img src="../static/home/img/graciename 1.png" alt="Gracie Abrams">
        </section>
        <section>
            <p>
                <span>Search</span>
                <span>Cart</span>
            </p>
        </section>
        <section>
            <p>
                <span>Home</span>
                <span>Merch</span>
                <span>Home</span>
            </p>
        </section>
    </header>
    <main>
        <section id="listen_now">
            <div>
                <img src="../static/home/img/Group 17.png" alt="">
                <h1>Listen now</h1>
                <img src="../static/home/img/Group 17.png" alt="">
            </div>
            <div>
                <img src="../static/home/img/whatitfeelslike.png" alt="">
                <img src="../static/home/img/whatitfeelslike.png" alt="">
                <img src="../static/home/img/whatitfeelslike.png" alt="">
                <img src="../static/home/img/whatitfeelslike.png" alt="">
            </div>
        </section>
        <section id="merch">
            <div class="headline">
                <p>
                    <span>Shop</span>
                    <span>All Merch</span>
                </p>
                <p>
                    <span>Shop All</span>
                </p>
            </div>
            <div class="cardline">
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <button></button>
            </div>
        </section>
        <section id="tour">
            <div class="headline">
                <img src="../static/home/img/Group 38.svg" alt="Tour Dates">
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <button id="more_dates_btn">More Dates</button>
        </section>
    </main>
    <footer>
        <section>
            <img src="../static/home/img/Group 39.svg" alt="">
            <p>
                Home <br><br>
                Merch<br><br>
                Tour
            </p>
            <p>
                Help & Support<br><br>
                Terms and Conditions of Sale<br><br>
                Terms of Use<br><br>
                Privacy Policy<br><br>
                <span>© 2025 Gracie Abrams</span>
            </p>
        </section>
        <section>
            <div>
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
            </div>
        </section>
    </footer>
</body>
</html>