<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracie Abrams</title>
    <link rel="stylesheet" href="../static/index/style.css">
</head>
<body>
    <header>
        <!-- <img src="../static/index/g9.png" alt="bg_img"> -->
        <section>
            <h1>Name</h1>
            <div>
                <p>Search</p>
                <p>Cart</p>
            </div>
        </section>
        <section>
            <p>main</p>
            <p>merch</p>
            <p>tour</p>
        </section>
    </header>
    <main>
        <section>
            <h3>listen now</h3>
            <div>
                <div class="music card"></div>
                <div class="music card"></div>
                <div class="music card"></div>
                <div class="music card"></div>
            </div>
        </section>
        <section>
            <h3>merch</h3>
            <div>
                <div class="merch">
                    <div class="card"></div>
                    <p>descript</p>
                    <p>cost</p>
                </div>
                <div class="merch">
                    <div class="card"></div>
                    <p>descript</p>
                    <p>cost</p>
                </div>
                <div class="merch">
                    <div class="card"></div>
                    <p>descript</p>
                    <p>cost</p>
                </div>
                <button><span></span></button>
            </div>
        </section>
        <section>
            <h3>Tour dates</h3>
            <div>
                <div class="date-line">

                </div>
                <div class="date-line"></div>
            </div>
            <button>another date</button>
        </section>
    </main>
    <footer>
        <h4>name</h4>
        <div>
            <p>main</p>
            <p>merch</p>
            <p>tour</p>
        </div>
        <div>
            <p>rule</p>
            <p>support</p>
            <p>social web</p>
        </div>
    </footer>
</body>
</html>