<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracie Abrams</title>
    <link rel="stylesheet" href="..//static/home/style.css">
    <link rel="stylesheet" href="../static/store/style.css">
</head>
<body>
    <header>
        <section>
            <img src="../static/home/img/graciename 1.png" alt="Gracie Abrams">
        </section>
        <section>
            <p>
                <span>Search</span>
                <span>Cart</span>
            </p>
        </section>
        <section>
            <p>
                <span>Home</span>
                <span>Merch</span>
                <span>Home</span>
            </p>
        </section>
    </header>
    <main>
        <section id="merch">
            <div class="headline">
                <p>
                    <span>Merch</span>
                </p>
                <img src="../static/store/img/Vector 6.svg" alt="">
            </div>
            <div class="cardline">
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/home/img/m2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
            </div>
        </section>
        <section id="music">
            <div class="headline">
                <p>
                    <span>Music</span>
                </p>
                <img src="../static/store/img/Vector 7.svg" alt="">
            </div>
            <div class="cardline">
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
                <div class="card">
                    <img src="../static/store/img/mu2.png" alt="">
                    <p>
                        <span>i've missed you, i'm sorry heather gray hoodie</span>
                        <span>$85.00</span>
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <img src="../static/home/img/Group 39.svg" alt="">
            <p>
                Home <br><br>
                Merch<br><br>
                Tour
            </p>
            <p>
                Help & Support<br><br>
                Terms and Conditions of Sale<br><br>
                Terms of Use<br><br>
                Privacy Policy<br><br>
                <span>© 2025 Gracie Abrams</span>
            </p>
        </section>
        <section>
            <div>
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
            </div>
        </section>
    </footer>
</body>
</html>