<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracie Abrams</title>
    <link rel="stylesheet" href="..//static/home/style.css">
    <link rel="stylesheet" href="../static/tour/style.css">
</head>
<body>
    <header>
        <section>
            <img src="../static/home/img/graciename 1.png" alt="Gracie Abrams">
        </section>
        <section>
            <p>
                <span>Search</span>
                <span>Cart</span>
            </p>
        </section>
        <section>
            <p>
                <span>Home</span>
                <span>Merch</span>
                <span>Home</span>
            </p>
        </section>
        <section>
            <h1>Gracie Abrams</h1>
            <p>
                <span>The Secret of Us</span>
                <span>DELUXE TOUR</span>
            </p>
        </section>
    </header>
    <main>
        <section id="tour">
            <div class="headline">
                <img src="../static/home/img/Group 38.svg" alt="Tour Dates">
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
                        <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
            <div class="dateline">
                <p>
                    <span>May 11, 2025</span>
                    <span>Rod Laver Arena</span>
                </p>
                <p>Melbourne, VIC</p>
                <button>Tickets</button>
            </div>
        </section>
        <section>
            <h1>Get notified when new events are announced in your area</h1>
            <button>FOLLOW GRACIE ABRAMS</button>
        </section>
    </main>
        <footer>
        <section>
            <img src="../static/home/img/Group 39.svg" alt="">
            <p>
                Home <br><br>
                Merch<br><br>
                Tour
            </p>
            <p>
                Help & Support<br><br>
                Terms and Conditions of Sale<br><br>
                Terms of Use<br><br>
                Privacy Policy<br><br>
                <span>© 2025 Gracie Abrams</span>
            </p>
        </section>
        <section>
            <div>
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
                <img src="../static/home/img/free-icon-instagram-1384031.svg" alt="">
            </div>
        </section>
    </footer>
</body>
</html>